### Project Story

Banks run into losses when a customer doesn't pay their loans on time. Because of this, every year, banks have losses in crores, and this also impacts the country's economic growth to a large extent. In this project we look at various attributes to predict if a person will be a loan defaulter or not.
For this project we have build the model accourding to the data provided by the customer which contains attributes like 
Loan_ID, Gender, Married, Dependents, Education, Self_Employed, ApplicantIncome, CoapplicantIncome, LoanAmount, Loan_Amount_Term, Credit_History, Property_Area, Loan_Status.
Data provided by the custumer consist of 614-rows and 13-columns including the target column.
To work with python and Jupiter IDE we have to install libraries like 1) Numpy:- to work with arrays and numerical calculations 2)Pandas:- to analyze, clean, explore, and manipulate the data  3)seaborn:- to visualize the data , 4)matplotlib:- to plot graghs, 5)sklearn:- to implement machine learning models and statistical modelling 6)imblearn:- for oversampling the data 7)warning:- to ignore warnings  
The dataset provided by customer had some prominant outliers so using z-score we identified the outliers but to avoid the data loss we cap those outliers with upper limit and lower limit. The dataset had missing values so we filled those missing values using statastics like mean, median, mode.Then we transformed the categorical data into numerical data using replace function mapping function and encoding techniques like OneHotEncoding , OrdinalEncoding, LableEncoding.
As this was a Binary Classification type of problem where target column consist only two types outcomes we applied LogisticRegression where we applied StanderdScalar and transformed the data using PowerTransformer but the recall for 0 class in train and test datasets was very low so we took the ROC curv to find the right threashold to balance the values of recall and precision,  where we got good insights.
Then we tried other models to find the optimum values of accuracy, recall, precision
we trained the model using DicessionTreeClassifier where we hypertuned the parameters like criterion,max_depth,min_samples_split,min_samples_leaf and used GridSearchCV to find the best estimator
we also apllied ensable techniques to build the model using RandomForestClassifier where we hypertuned the model with n_estimators,max_features,random_state to find the optimal values for accuracy, precision, recall
Then we used the AdaBoost and GradientBoost where we hyper tuned the parameters n_estimators,random_state 
and lastly we used BaggingClassifier where we hypertuned the model using n_estimators,random_state.
After evaluating every model we conclude that the LogisticRegression have the good accuracy, precision and recall values so we went with LogisticRegression model.

In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import BaggingClassifier

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
from sklearn.metrics import recall_score,precision_score,f1_score
from sklearn.metrics import plot_confusion_matrix,roc_curve,precision_recall_curve

#from imblearn.over_sampling import RandomOverSampler,ADASYN,SMOTE
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_score,recall_score,accuracy_score, f1_score, confusion_matrix,classification_report,r2_score,log_loss,auc


from sklearn.preprocessing import MinMaxScaler,StandardScaler
from sklearn.impute import SimpleImputer, KNNImputer
from warnings import filterwarnings
filterwarnings(action='ignore')

### Data Gathering

In [4]:
df= pd.read_csv("LoanApprovalPrediction.csv")                  #------loading dataset
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,LP002978,Female,No,0.0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
594,LP002979,Male,Yes,3.0,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
595,LP002983,Male,Yes,1.0,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
596,LP002984,Male,Yes,2.0,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
597,LP002990,Female,No,0.0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [ ]:
df.shape                                                    #----Number of columns and rows in dataset

In [ ]:
df.head()                                                                    #------Reading first 5 records

In [ ]:
df.info()              #----Displaying all the columns in dataset with their respective datatype and non null value count

In [ ]:
df.corr()                          #----------Correlation between the features

In [ ]:
df.describe()                             #----gives the static values for dadaframe

In [6]:
df.isna().sum()                    #------checking for null values

Loan_ID               0
Gender                0
Married               0
Dependents           12
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           21
Loan_Amount_Term     14
Credit_History       49
Property_Area         0
Loan_Status           0
dtype: int64

In [ ]:
df_num = df.select_dtypes(exclude=object)           #--------checking for numerical columns
df_num.head()

In [ ]:
df_num.shape                                      #---------number of rows and columns for numerical data

In [ ]:
df_obj = df.select_dtypes(include=object)          #---------checking for categorical columns
df_obj.head()

In [ ]:
df_obj.shape                                       #-----------number of rows and columns for categorical data

In [ ]:
sns.countplot(df["Loan_Status"])

In [ ]:
df.head(2)

In [ ]:
df.corr()                          #----------Correlation between the features

In [ ]:
plt.figure(figsize=(20,5))
df.boxplot()

In [ ]:
sns.boxplot(df["ApplicantIncome"])

In [ ]:
sns.boxplot(df["CoapplicantIncome"])

In [ ]:
upper_limit = df["ApplicantIncome"].mean() + 3*df["ApplicantIncome"].std()
lower_limit = df["ApplicantIncome"].mean() - 3*df["ApplicantIncome"].std()
print('upper limit :-', upper_limit)
print('lower limit :-', lower_limit)

In [ ]:
upper_limit1 = df["CoapplicantIncome"].mean() + 3*df["ApplicantIncome"].std()
lower_limit1 = df["CoapplicantIncome"].mean() - 3*df["ApplicantIncome"].std()
print('upper limit :-', upper_limit1)
print('lower limit :-', lower_limit1)

In [ ]:
outliers_data = df.loc[(df["ApplicantIncome"] > upper_limit) | (df["ApplicantIncome"] < lower_limit)]
outliers_data

In [ ]:
outliers_data1 = df.loc[(df["CoapplicantIncome"] > upper_limit1) | (df["CoapplicantIncome"] < lower_limit1)]
outliers_data1

In [ ]:
df.loc[df["ApplicantIncome"]>=upper_limit, 'ApplicantIncome']=upper_limit
df.loc[df["ApplicantIncome"]<=lower_limit, 'ApplicantIncome']=lower_limit

In [ ]:
sns.boxplot(df["ApplicantIncome"])

In [ ]:
df.loc[df["CoapplicantIncome"]>=upper_limit, 'CoapplicantIncome']=upper_limit1
df.loc[df["CoapplicantIncome"]<=lower_limit, 'CoapplicantIncome']=lower_limit1

In [ ]:
sns.boxplot(df["CoapplicantIncome"])

In [ ]:
df.shape

### Feature Engineering

In [ ]:
df.nunique()                           #----------number of unique values of each column

In [ ]:
low_cardinality_cols=[cname for cname in df.columns if df[cname].nunique()<5]  #--checking for unique values of each feature are less than 5

In [ ]:
low_cardinality_cols

In [ ]:
high_cardinality_cols=[cname for cname in df.columns if df[cname].nunique()>5]  #--checking for unique values of each feature are more than 5

In [ ]:
high_cardinality_cols

Here we can se that the low_cardinality_cols output has some feature which are having unique values less than five and high_cardinality_cols have 'Loan_ID' having unique values greater than 5 this insights it will help us for feature selection

In [ ]:
df.isnull().sum()                              #-------------------number of missing value in each feature

Here we can see that there are missing values in 'Gender', 'Married', 'Dependents', 'Self_Employed','LoanAmount', 'Loan_Amount_Term', 'Credit_History' so we have to fill those missing values.

so we have to fill these missing values using mean, mode and median.

#### 1) Handling missing values

In [ ]:
from scipy.stats import mode

In [ ]:
df["Gender"].mode()                                   #-----------------extracting mode of categorical column

In [ ]:
df["Gender"].fillna("Male" , inplace=True)            #--------------filling null values with extracted mode value

In [ ]:
df["Married"].mode()                                  #-----------------extracting mode of categorical column

In [ ]:
df["Married"].fillna("Yes" , inplace=True)           #--------------filling null values with extracted mode value

In [ ]:
df["Self_Employed"].mode()                           #-----------------extracting mode of categorical column

In [ ]:
df["Self_Employed"].fillna("No" , inplace=True)      #--------------filling null values with extracted mode value

In [ ]:
df["Dependents"].mode()                              #-----------------extracting mode of categorical column

In [ ]:
df["Dependents"].fillna("0" , inplace=True)          #--------------filling null values with extracted mode value

In [ ]:
df["LoanAmount"] = df["LoanAmount"].fillna(df["LoanAmount"].mean())      #--filling null values with mean value of loanAmount column

In [ ]:
df["Loan_Amount_Term"].value_counts()             #----count of unique values in Loan_Amount_Term with its datatype

In [ ]:
df["Loan_Amount_Term"].mode()                      #------extracting mode of categorical column

In [ ]:
df["Loan_Amount_Term"].fillna(360.0 , inplace=True)  #------filling null values with extracted mode value

In [ ]:
df["Credit_History"].value_counts().to_dict()

In [ ]:
df["Credit_History"].median()                     #------extracting mode of categorical column

In [ ]:
df["Credit_History"] = df["Credit_History"].fillna(df["Credit_History"].median()) #--------------filling null values with extracted mode value

In [ ]:
df.isna().sum()

As we can see all the missing values have been filled.
Now the next step is to convert the categorical values in numeric form.

#### 2)Data Encoding

In [ ]:
df2 = df.select_dtypes(include=object)          #---------checking for categorical columns
df2.head(2)

In [ ]:
df["Gender"].value_counts().to_dict()                           #------count of unique values for Gender column

In [ ]:
df["Gender"].replace({"Male": 0, "Female": 1},inplace=True)    #-------replacing object data with numerical values

In [ ]:
df["Gender"].value_counts().to_dict()

In [ ]:
df["Married"].value_counts().to_dict()                          #------count of unique values for Married column

In [ ]:
df["Married"].replace({"No": 0, "Yes": 1},inplace=True)        #-------replacing object data with numerical values

In [ ]:
df["Married"].value_counts().to_dict()

In [ ]:
df["Education"].value_counts().to_dict()                       #------count of unique values for Education column

In [ ]:
df["Education"].replace({"Graduate": 0, "Not Graduate": 1},inplace=True) #-------replacing object data with numerical values

In [ ]:
df["Education"].value_counts().to_dict()

In [ ]:
df["Self_Employed"].value_counts().to_dict()                    #------count of unique values for Education column

In [ ]:
df["Self_Employed"].replace({"No" : 0, "Yes" : 1}, inplace=True)         #-------replacing object data with numerical values

In [ ]:
df["Self_Employed"].value_counts().to_dict()

In [ ]:
df["Dependents"].value_counts().to_dict()                       #------count of unique values for Education column

In [ ]:
df["Dependents"].replace({"0" : 0, "1" : 1, "2" : 2, "3+" : 3}, inplace=True)#--replacing object data with numerical values

In [ ]:
df["Dependents"].value_counts().to_dict()

In [ ]:
df["Property_Area"].value_counts().to_dict()                   #------count of unique values for Education column

In [ ]:
df["Property_Area"].replace({"Semiurban":2, "Urban":1, "Rural":0}, inplace=True)#-------replacing object data with numerical values

In [ ]:
df["Property_Area"].value_counts().to_dict()

In [ ]:
df["Loan_Status"].value_counts().to_dict()

In [ ]:
df["Loan_Status"].replace({"Y" : 1, "N" : 0}, inplace=True)    #-------replacing object data with numerical values

In [ ]:
df["Loan_Status"].value_counts().to_dict()

In [ ]:
df.info()

In [ ]:
df.head()

As we can see that all the categorical data has been transformed into the numerical data

In [ ]:
high_cardinality_cols

As we can see that the Loan_ID column is a high cardinality column and we dont need this column for analysis as well so we need to drop that column

In [ ]:
new_df2=df.drop("Loan_ID" , axis=1)
new_df2.head(2)

In [ ]:
x = new_df2.drop("Loan_Status",axis=1)
y = new_df2["Loan_Status"]
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=40,stratify=y)

In [ ]:
lg_model = LogisticRegression()
lg_model.fit(x_train,y_train)

In [ ]:
plot_confusion_matrix(lg_model,x_train,y_train)

In [ ]:
plot_confusion_matrix(lg_model,x_test,y_test)

##### Evaluation on Testing Data

In [ ]:
y_pred = lg_model.predict(x_test)

cnf_matrix = confusion_matrix(y_test,y_pred)
print("Confusion Matrix\n",cnf_matrix)

accuarcy = accuracy_score(y_test,y_pred)
print("Accuracy Score\n",accuarcy)

clf_report = classification_report(y_test,y_pred)
print("Classification report\n",clf_report)

In [ ]:
y_pred = lg_model.predict(x_train)

cnf_matrix = confusion_matrix(y_train,y_pred)
print("Confusion Matrix\n",cnf_matrix)

accuarcy = accuracy_score(y_train,y_pred)
print("Accuracy Score\n",accuarcy)

clf_report = classification_report(y_train,y_pred)
print("Classification report\n",clf_report)

In [ ]:
y_pred_prob = lg_model.predict_proba(x_train)
y_pred_prob[:5]

In [ ]:
y_pred = lg_model.predict(x_train)
y_pred[:5]

In [ ]:
y_pred_prob = lg_model.predict_proba(x_train)
fpr,tpr,thresh = roc_curve(y_train,y_pred_prob[:,1])

In [ ]:
plt.plot(fpr,tpr)
plt.xlabel("False Positive Rate (FPR)")
plt.ylabel("True Positive Rate (TPR)")
plt.title("Receiver Operating Characteristic Curve")

In [ ]:
y_pred_prob = lg_model.predict_proba(x_train)
fpr,tpr,thresh = roc_curve(y_train,y_pred_prob[:,1])

In [ ]:
y_pred_prob = lg_model.predict_proba(x_train)
fpr,tpr,thresh = roc_curve(y_train,y_pred_prob[:,1])
df1 = pd.DataFrame({"Threshold" :thresh,
                   "FPR":fpr,
                   "TPR":tpr,
                   "FNR" :1-tpr})
ax = df1.plot(x="Threshold",y=["FPR","FNR"],figsize=(10,6))

In [ ]:
y_pred_prob = lg_model.predict_proba(x_train)
fpr,tpr,thresh = roc_curve(y_train,y_pred_prob[:,1])
index = np.where((thresh>0.73)&(thresh<0.75))
index

In [ ]:
index1 = 80
tpr[index1],fpr[index1],thresh[index1]

In [ ]:
tuned_thresh = np.where(y_pred_prob[:,1]>=0.7267401231265038,1,0)
confusion_matrix(y_train,tuned_thresh)
plot_confusion_matrix(lg_model,y_train,tuned_thresh)

In [ ]:
model=LogisticRegression()
model.fit(x_train, y_train)

In [10]:
lr_prediction=model.predict(x_test)
print('Accuracy : ' , accuracy_score(lr_prediction,y_test))

NameError: name 'model' is not defined

In [ ]:
model.predict([[0,0,0,0,0,0,0,156.412162,360.0,1.0,1]])

#### OverSampling using RamdomOverSampler

In [ ]:
ras = RandomOverSampler()
x_train_re,y_train_re = ras.fit_resample(x_train,y_train)

In [ ]:
x_train_re.shape ,y_train_re.shape

In [ ]:
y_train_re.value_counts()

#### Scaling And Standerdizing the data

In [ ]:
# Shift the data by a positive constant
shift_value = 0.00001
x_train_shifted = x_train_re + shift_value
x_test_shifted = x_test + shift_value

# Instantiate the StandardScaler and fit_transform the shifted training data
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train_shifted)

# Instantiate the PowerTransformer and fit_transform the scaled training data
power_transformer = PowerTransformer(method='yeo-johnson')
x_train_trans = power_transformer.fit_transform(x_train_scaled)

# Transform the shifted test data using the same scaler and transformer
x_test_scaled = scaler.transform(x_test_shifted)
x_test_trans = power_transformer.transform(x_test_scaled)

In [ ]:
model_1 = LogisticRegression()
model_1.fit(x_train_trans,y_train_re)

In [ ]:
y_pred_1 = model_1.predict(x_test_trans)

In [ ]:
accuracy_score(y_pred_1,y_test)

In [ ]:
precision_score(y_pred_1,y_test,average='macro')

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import BaggingClassifier

In [ ]:
lrc = LogisticRegression(penalty='l2')
dtc = DecisionTreeClassifier(max_depth=5)
knn = KNeighborsClassifier()
rfc = RandomForestClassifier(n_estimators=36,max_features=11,random_state=18)
gbc = GradientBoostingClassifier(n_estimators=71,random_state=12)
adbc = AdaBoostClassifier(n_estimators=45,random_state=25)
bgc = BaggingClassifier(n_estimators=77,random_state=30)

In [ ]:
clasifier = {'LogisticRegression':lrc,
             'DecisionTreeClassifier':dtc,
             'KNeighborsClassifier':knn,
             'RandomForestClassifier':rfc,
             'GradientBoostingClassifier':gbc,
             'AdaBoostClassifier':adbc,
             'BaggingClassifier':bgc,}

In [ ]:
def train_classifier(clf,x_train,x_test,y_train,y_test):
    
    clf.fit(x_train,y_train)
    y_predict = clf.predict(x_test)
    
    accuracy_ = round(accuracy_score(y_test,y_predict),2)
    precision_ = precision_score(y_test,y_predict,average='macro')
    recall_score_ = recall_score(y_test,y_predict,average='macro')
    
    return accuracy_,precision_,recall_score_

In [ ]:
train_classifier(lrc,x_train_trans,x_test_trans,y_train_re,y_test)

In [ ]:
accuracy_score_ = []
precision_score_ = []
recall_score__ = []

for name ,clf in clasifier.items():
    current_accuracy,current_precision,current_recall_score = train_classifier(clf,x_train_trans,x_test_trans,y_train_re,y_test)
    
    print('name :', name)
    print('accuracy :', current_accuracy)
    print('precision :' , current_precision)
    print('recall_score',current_recall_score)
    print('*'*50)
    
    accuracy_score_.append(current_accuracy)
    precision_score_.append(current_precision)
    recall_score__.append(current_recall_score)

In [ ]:
model_1.predict([[1,1,1,0,4500,0,0.0,146.412162,360.0,1.0,1]])

Here we can see that we can get good accuracy with Logistic Regression so we will go with LOgistic Regression

In [ ]:
x.columns
Gender = "Male"
Married = "Yes"
Dependents="2"
Education = "Graduate"
Self_Employed = "Yes"
ApplicantIncome=4699
CoapplicantIncome=1200
LoanAmount=66
Loan_Amount_Term=360
Credit_History=1
Property_Area="Semiurban"

In [ ]:
project_data = {"Gender":{"Male": 0, "Female": 1},
               "Married": {"No": 0, "Yes": 1},
               "Education":{"Graduate": 0, "Not Graduate": 1},
               "Self_Employed":{"No" : 0, "Yes" : 1},
               "Dependents":{"0" : 0, "1" : 1, "2" : 2, "3+" : 3},
               "Property_Area":{"Semiurban":2, "Urban":1, "Rural":0}}

In [ ]:
column_names=x.columns
test_array = np.zeros(x.shape[1])

In [ ]:
test_array[0]=project_data["Gender"]["Male"]
test_array[1]=project_data["Married"]["Yes"]
test_array[2]=project_data["Dependents"]["2"]
test_array[3]=project_data["Education"]["Graduate"]
test_array[4]=project_data["Self_Employed"]["Yes"]
test_array[5]=ApplicantIncome
test_array[6]=CoapplicantIncome
test_array[7]=LoanAmount
test_array[8]=Loan_Amount_Term
test_array[9]=Credit_History
test_array[10]=project_data["Property_Area"]["Semiurban"]
test_array

In [ ]:
test_array[0] = self.json_data["Gender"][self.Gender]
test_array[1] = self.json_data["Married"][self.Married]
test_array[2] = self.json_data["Dependants"][self.Dependants]
test_array[3] = self.json_data["Education"][self.Education]
test_array[4] = self.json_data["Self_Employed"][self.Self_Employed]
test_array[5] = self.ApplicatIncome
test_array[6] = self.CoapplicantIncome
test_array[7] = self.LoanAmount
test_array[8] = self.Loan_Aount_Term
test_array[9] = self.Credit_History
test_array[10] = self.json_data["Property_Area"][self.Property_Area]

In [ ]:
model_1.predict([test_array])

In [ ]:
import pickle
import json

In [ ]:
with open("Logistic_model.pkl","wb") as file:
    pickle.dump(model_1,file)

In [ ]:
with open("project_data.json","w") as file:
    json.dump(project_data,file)